*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 400px;
    min-height: 60vh;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#display {
    word-break: break-all;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 380px;
    border: 3px solid black;
    font-size: 60px;
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button, .operation-button, #result, #ac, .point-button, #percent, #plus-minus {
    height: 90px;
    width: 90px;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}


#zero {
    width: 182px;
}
